@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /*font-family: "Roboto", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap'); /*font-family: 'Cutive Mono', monospace; */
   
* {
    font-size: 100%;
    font-family: "Roboto", sans-serif;
}


/* TAGS */

body{
    margin: 0%;
}

h1{
    font-size:xx-large;
}


/* CLASSES */

.full-width{
    width: 100vw;
}

.full-height{
    height: 100vh;
}

.hidden{
    display: none;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.column.right{
    align-items: flex-end;
}

.column.left{
    align-items: flex-start;
}

.center{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button{
    transition: .2s all ease;
    background-color: coral;
    cursor: pointer;
    color: aliceblue;
}

.button:hover{
    background-color: brown;
}

.over{
    position: absolute;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.scenario-text{
    font-family: 'Cutive Mono', monospace;
}

/* IDs */

#start-screen{
    background-color: blanchedalmond;
    min-height: 10em;
}

#start-button{
    width: 60vw;
    height: 60vh;
}

#rules{
    width: 60vw;
    height: 80vh;
    top: 30px;
    left: 30px;
}
#rules-content{
    width: 30vw;
}

#scenario{
    width: 315px;
    height: 259px;
    background-image: url("../img/paper.png");
    background-size: 100% 100%;
    top: 30px;
    right: 30px;
}

#scenario-content{
    margin: 40px;
}

#controls{
    left: 30px;
    bottom: 30px;
}

#helper-text-div{
    top: 70vh;
    font-size: 4vh;
    color: aliceblue;
}