@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
   
* {
    font-size: 100%;
    font-family: "Roboto", sans-serif;
}


/* TAGS */

body{
    margin: 0%;
}

h1{
    font-size:xx-large;
}


/* CLASSES */

.full-width{
    width: 100vw;
}

.full-height{
    height: 100vh;
}

.hidden{
    display: none;
}

.row{
    display: flex;
}

.row.center{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.row.horizontal-center{
    justify-content: center;
    text-align: center;
}

.button{
    transition: .2s all ease;
    background-color: coral;
    cursor: pointer;
    color: aliceblue;
}

.button:hover{
    background-color: brown;
}

.over{
    position: absolute;
    top:0px;
    left:0px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* IDs */

#start-screen{
    background-color: blanchedalmond;
    min-height: 10em;
}

#start-button{
    width: 60vw;
    height: 60vh;
}

#helper-text-div{
    top: 70vh;
    font-size: 4vh;
    color: aliceblue;
}